* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

h1 {
    display: inline;
    border-bottom: 2px solid black;
    padding-right: 20px;
}

hr {
    width: 100%;
}

header {
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #363636;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;

    .item {
        margin-left: 25px;
        color: white;
        &:hover {
            color: black;
        }

        &:hover ul {
            display: block;
            background-color: white;
        }

        ul {
            position: absolute;
            background-color: darkgray;
            display: none;
            z-index: 1;

            li {
                padding: 5px 10px;
                border-bottom: 1px solid yellow;

                &:hover {
                    background-color: black;
                    color: white;

                }
            }
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    position: relative;

    .box {
        h3 {
            position: absolute;
            bottom: 40px;
            font-size: 2rem;
            color: white;
            padding: 10px;
        }

        p {
            position: absolute;
            bottom: 15px;
            color: white;
            padding: 10px;
        }
    }
}

.content-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;

    .box2 {
        position: relative;

        h3 {
            position: absolute;
            bottom: 20px;
            width: 100%;
            text-align: center;
            color: white;

        }
    }
}

.content-3 {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;

    .box-left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid black;
        padding: 20px;
        gap: 10px;

        .box {

            .title {
                h5 {
                    font-size: 20px;
                }

                p {
                    color: grey;
                }
            }

            .img-box {
                position: relative;
                height: 85%;
                box-shadow: 0.3em 0.3em 0.1em wheat;
                h5 {
                    position: absolute;
                    bottom: 0;
                    background-color: wheat;
                    font-size: 15px;
                }
            }
        }

    }

    .box-right {

        .box-top {
            padding: 10px;
            display: flex;
            justify-content: space-around;
            border: 1px solid black;
            height: 200px;
            align-items: center;

            .box {
                .img-box {
                    width: 70px;
                    height: 70px;
                    border: 2px solid gray;
                    border-radius: 50%;
                    &:hover {
                        animation: animation1 1s infinite  alternate;
                    }
                }
                p {
                    text-align: center;
                    color: grey;
                    font-size: 15px;
                    padding-top: 15px;
                }
            }
        }

        .box-bottom {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid black;
            height: 620px;

            .box {
                margin-top: 50px;
                display: flex;
                align-items: center;

                .box-img {
                    width: 80px;
                    height: 80px;
                    border: 2px solid gray;
                    border-radius: 50%;
                    
                }

                .info {
                    padding: 10px;
                    p {
                        color: grey;
                    }
                }
            }

        }

    }
}

.video {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: whitesmoke;

    .box {
        padding: 10px;
        position: relative;

        i {
            position: absolute;
            font-size: 3rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
        img {
            box-shadow: 0.4em 0.4em 0.1em gray;
        }
    }
}

.container {

    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;

    .box-left {
        border: 1px solid black;
        padding: 10px;

        .box {
            display: flex;
            margin-top: 10px;

            .img-box {
                width: 200px;
                height: 100px;
                box-shadow: 0.4em 0.4em 0.1em wheat;
            }

            .title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 10px;

                p {
                    color: grey;
                }
            }
        }
    }

    .box-right {
        border: 1px solid black;
        padding: 10px;
        height: 300px;

        p {
            margin-top: 10px;
            color: grey;
        }

        .input {
            height: 70px;
            width: 90%;
            margin-top: 10px;
        }

        .button {
            margin-top: 10px;
            width: 150px;
            height: 50px;
            background-color: #5BBD5B;
            color: white;
            border: 1px solid #5BBD5B;
            border-radius: 10px;
            margin-left: 250px;
            &:hover {
                background-color: white;
                color: #5BBD5B;
            }
        }
    }
}
footer {
    height: 100px;
    background-color: #363636;
    text-align: center;
    padding-top: 30px;

    p {
        color: white;
    }
}
@keyframes animation1 {
    0% {
        transform: rotate(30deg)scale(1) ;
    }
    50% {
        transform: rotate(-30deg)scale(1.5);
    }
    100% {
        transform: rotate(30deg)scale(1.5);
    }
}