* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
li {
    list-style: none;
}
h2 {
    margin-left: 300px;
    margin-top: 50px;
}
header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            margin-left: 30px;
        }
    }
    h1 {
        margin-left: 30px;
    }
}
nav {
    width: 60%;
    margin: 0 auto; 
    margin-top: 30px;   
    img {
        border-radius: 15px;
    }
}
article {
    background-color: gainsboro;
    width: 40%;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    p, h3 {
        color: grey;
    }
}
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    gap: 10px;
    .box {
        border: 1px solid wheat;
        border-radius: 10px;
        p {
            text-align: start;
        }
        .box-img {
            width: 90%;
            margin: 0 auto;
            margin-top: 10px;
            border-radius: 10%;
            img {
                border-radius: 10px;
            }
        }
        .type {
            margin-top: 10px;
            background-color: whitesmoke;
            width: 20%;
            border-radius: 5px;
            color: blue;
            margin-left: 10px;
        }
        .title {
            margin-top: 10px;
            margin-left: 10px;
            font-size: 25px;
        }
        .short-info {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
            .img-info {
                width: 10%;
                border-radius: 50%;
                margin-left: 5px;
                margin-bottom: 10px;
                border: 1px solid black;
            }
            a {
                margin-right: 10px;
                margin-top: 5px;
                color: grey;
            }
            
        }
    }
}
.view-button {
    margin: 0 auto;
    text-align: center;
    button {
        &:hover {
            background-color: gray;
            color: white;
        }
        width: 10rem;
        height: 2rem;
        margin-top: 10px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid grey;
        color: gray;
    }
    
}
footer {
    padding-top: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    .about {
        p {
            margin-top: 5px;
        }
    }
    .quicklink , .category {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            margin-top: 5px;
        }
    }
    .input-form {
        text-align: center;
        width: 30%;
        height: 60%;
        background-color: white;
        border-radius: 20px;
        p {
            margin-top: 5px;
            margin-bottom: 15px;
        }
        button {
            &:hover {
                background-color: white;
                color: blue;
            }
            margin-top: 15px;
            width: 7rem;
            height: 2rem;
            background-color: blue;
            border-radius: 7px;
            border: 1px solid blue;
            color: whitesmoke;
        }
    }
    
}
